@font-face {
  font-family: "Open Sans Bold";
  src: url(/fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Semibold Italic";
  src: url(/fonts/OpenSans-SemiBoldItalic.ttf) format("truetype");
}

/*Color Palette*/
/*
#03173A - Main purple color
#135375 - Secondary blue color
#FAF7FF - Copy color
#F54500 - Hover color
#03173A - Border color
*/

/*Fonts*/
/*
"Open Sans Bold" - Main font
"Open Sans Semibold Italic" - Seconday font
*/

/*Global styles*/
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  background-color: #03173a;
  color: #faf7ff;
}

header {
  display: flex;
  min-width: auto;
  box-shadow: 10px 15px 90px 0 black;
}

.logo {
  max-width: 55%;
}

footer {
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-top: auto;
}

footer a {
  text-decoration: none;
  color: #faf7ff;
  padding: 10px;
}

/*Buttons*/
.cta {
  color: #03173a;
  text-decoration: none;
  background-color: #ffffff;
  font-family: "Open Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  border: 4px solid #03173a;
  box-shadow: 0 3px 6px 0 black;
  padding: 2px 33px;
  border-radius: 17px;
  font-size: 30px;
}

.cta:hover {
  box-shadow: inset 25px 25px 100px #f54500, 0 3px 6px 0 black;
}

/*Home page*/
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan-img {
  max-width: 60%;
  margin: 30px 0px auto;
}

.content {
  display: flex;
  justify-content: center;
  margin: auto 30px;
}

.login-portal_img {
  margin: auto 1em;
  text-align: center;
}

.login-img {
  max-width: 70%;
  margin: 0 0 5px;
}

.login_anchor-image {
  display: block;
}

.slogan-copy p {
  font-family: "Open Sans Semibold Italic";
  font-size: 20px;
}

/*Screen resize*/
@media only screen and (max-width: 750px) {
  header {
    justify-content: center;
  }

  header a {
    margin-left: 153px;
  }

  .content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .login-img {
    margin: 20px 0 20px 0px;
  }

  .slogan-img {
    max-width: 87%;
    height: auto;
    margin: 30px 0;
  }

  .cta {
    font-size: 20px;
    padding: 1px 30px;
  }

  .cta:active,
  .cta:hover {
    box-shadow: inset 25px 25px 100px #f54500, 0 3px 6px 0 black;
  }

  footer {
    font-size: 22px;
  }

  .slogan-copy p {
    font-size: 15px;
    margin-left: 22px;
  }
}
