@font-face {
  font-family: "Open Sans Bold";
  src: url(/fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans Semibold Italic";
  src: url(/fonts/OpenSans-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans Light Italic";
  src: url(/fonts/OpenSans-LightItalic.ttf) format("truetype");
}

/*Color Palette*/
/*
#03173A - Main purple color
#135375 - Secondary blue color
#FAF7FF - Copy color
#F54500 - Hover color
#03173A - Border color
*/

/*Fonts*/
/*
"Open Sans Bold" - Main font
"Open Sans Semibold Italic" - Secondary font
*/

/*Global styles*/

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  background-color: #03173a;
  color: #faf7ff;
}

header {
  display: flex;
  min-width: auto;
  box-shadow: 0.625em 0.9375em 5.625em 0 black;
  background-color: #03173a;
}

.movie-header {
  position: sticky;
  top: 0;
  left: 0;
}
.logo,
.logo-logged-in {
  max-width: 55%;
}

a {
  text-decoration: none;
  color: #faf7ff;
}

footer {
  display: flex;
  font-size: 1.25em;
  justify-content: center;
  margin-top: auto;
}

.cta,
.form_input,
.form_input_field {
  font-family: "Open Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
}

.cta,
.login-title,
.header-item {
  text-transform: uppercase;
}

footer a {
  color: #faf7ff;
  padding: 0.625em;
}

.back_btn {
  font-size: 1.9em;
  color: white;
  margin: 8px auto auto 10px;
}

/*Buttons*/
.cta {
  color: #03173a;
  background-color: #ffffff;
  border: 4px solid #03173a;
  box-shadow: 0 3px 6px 0 black;
  padding: 2px 33px;
  border-radius: 17px;
  font-size: 1.875em;
}

.cta:hover {
  box-shadow: inset 25px 25px 100px #f54500, 0 3px 6px 0 black;
}

.cta-login-medium {
  font-size: 1em;
  padding: 7px 39px;
}

.cta-login-small {
  font-size: 0.9em;
  padding: 7px 19px;
}

.contact-btn {
  margin: 15px auto;
}

.cta-create_account-medium {
  font-size: 0.9em;
  padding: 10px 10px;
}

.cta-create_account-small {
  font-size: 0.8em;
  padding: 7px 15px;
}

.cta_play-now {
  font-size: 1em;
  padding: 5px 23px;
}

/*Home page*/
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan_title {
  font-size: 5em;
  margin: 30px auto 15px auto;
  font-family: "Open Sans Light Italic", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 1072px;
  margin: 0px auto;
}

.login-portal_img {
  margin: auto 5em;
  text-align: center;
}

.login-img {
  max-width: 100%;
  margin: 0 0 5px;
}

.login_anchor-image {
  display: block;
}

.slogan-copy {
  font-family: "Open Sans Semibold Italic";
  font-size: 1.25em;
}

/*Login page*/

.login,
.contact_page,
.create_account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1072px;
  margin: 0px auto;
}

.login__img {
  max-width: 60%;
  margin: 0px auto -5px auto;
}

.form_input_field {
  color: #faf7ff;
  background-color: #03173a;
  border: none;
  border-bottom: 2px solid #faf7ff;
  margin: 5px auto;
  border-radius: 0;
}

.form-label {
  color: #faf7ff;
}

.form_input_type {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-btn {
  margin: 20px auto;
}

.login-title {
  margin: 10px auto;
}

/*About page*/

.about-content {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: -19px 100px auto;
}

.about-title {
  font-size: 2em;
  text-align: center;
}

/*Contact page*/

.contact_title,
.create_title {
  font-size: 3em;
}

/*Movie page*/

.anchor-size {
  width: 114px;
}

.logo-movies {
  width: 151%;
}

.movie-header {
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  font-size: 2em;
  align-items: flex-end;
  justify-content: end;
}

.header-item {
  padding: 0 15px 0 0;
}

#search {
  font-size: 0.7em;
}

.profile-picture-small {
  margin-bottom: -9px;
  width: 9%;
}

.profile-picture-watcher-small {
  width: 90%;
}

.signout-icon {
  font-size: 1.4em;
}

.movies {
  display: grid;
  grid-template-areas: "vertical-nav movies movies movies movies";
}

.vertical-nav {
  grid-area: vertical-nav;
  background-color: #135375;
  min-width: 290px;
  position: fixed;
  height: 100vh;
  z-index: -1;
}

.hamburger-icon {
  margin-left: -15px;
}

#hamburger-menu {
  display: none;
}

.vertical-nav nav {
  display: flex;
  font-size: 2em;
  flex-direction: column;
  text-align: left;
}

.vertical-nav nav h1 {
  margin: 23px auto auto 36px;
}

ul li {
  list-style: none;
  margin: 15px auto;
  font-size: 0.8em;
}

.movie-section {
  grid-area: movies;
  display: flex;
  flex-wrap: wrap;
  margin: auto auto auto 291px;
}

.movie-item {
  width: calc(33.3333% - 10px);
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 30px;
}

.page-title,
.genre-title {
  width: calc(100%);
  margin: 25px auto 0px 41px;
  font-size: 3em;
}

.genre-title {
  font-size: 2em;
  margin-bottom: -25px;
}

.movie-cover {
  width: 95%;
}

.movie-title {
  font-size: 1.2em;
  margin: 16px auto;
}

.movie-rating {
  font-size: 1.5em;
}

/*Screen resize*/
@media only screen and (max-width: 990px) {
  .centered-logo {
    justify-content: center;
  }

  .anchor-logo {
    margin-left: 153px;
  }

  .content {
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 30px;
  }

  .login-img {
    max-width: 75%;
    margin: 20px 0 20px 0px;
  }

  .slogan_title {
    font-size: 2em;
    margin: 30px auto auto;
  }

  .cta {
    font-size: 20px;
    padding: 1px 30px;
  }

  .cta:active,
  .cta:hover {
    box-shadow: inset 25px 25px 100px #f54500, 0 3px 6px 0 black;
  }

  footer {
    font-size: 1.0625em;
  }

  .slogan-copy {
    font-size: 0.9375em;
  }

  .copy-2 {
    margin: 27px auto auto;
  }

  /*Login Page*/

  .cta-login-medium {
    font-size: 0.9em;
    padding: 6px 35px;
  }

  .cta-login-small {
    font-size: 0.8em;
    padding: 6px 18px;
  }

  /*About page*/

  .about-content {
    font-size: 0.91em;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: -32px 58px auto;
  }

  /*Contact page*/

  .contact_title,
  .create_title {
    font-size: 2em;
  }

  /*Create Account page*/

  .cta-create_account-medium {
    font-size: 0.6em;
    padding: 7px 4px;
  }

  .cta-create_account-small {
    font-size: 0.5em;
    padding: 6px 15px;
  }

  /*Movie page*/

  #search {
    display: none;
  }

  .header-navigation {
    font-size: 1.5em;
    justify-content: end;
  }

  .profile-picture-small {
    width: 15%;
  }

  .vertical-nav {
    margin-left: -290px;
  }

  .hamburger-icon {
    margin-left: 0px;
    position: fixed;
    transform: rotate(90deg);
    font-size: 2em;
    top: 350px;
    z-index: 2;
  }

  #hamburger-menu:checked ~ .vertical-nav {
    display: block;
    margin-left: 0px;
    z-index: 1;
    background-color: rgba(19, 83, 117, 65%);
    top: 185px;
    height: 363px;
    min-width: 205px;
  }

  .vertical-nav nav h1 {
    display: none;
  }
  .movie-section {
    margin: auto;
  }

  .cta_play-now {
    font-size: 1em;
    padding: 1px 10px;
  }

  .movie-item {
    width: calc(50% - 10px);
    padding: 10px;
  }

  .movie-cover {
    width: 85%;
  }

  .page-title,
  .genre-title {
    margin: 32px auto 0px;
    text-align: center;
  }

  .page-title {
    font-size: 3em;
  }

  .genre-title {
    font-size: 2em;
  }

  .movie-rating {
    font-size: 0.8em;
  }

  .movie-title {
    font-size: 1em;
  }
}

@media only screen and (max-width: 480px) {
  /*Home page*/

  .anchor-logo {
    margin-left: 125px;
  }

  .slogan_title {
    font-size: 1.8em;
  }
  /*About page*/

  .about-content {
    margin: -36px 13px auto;
  }

  /*Movie page*/

  .logo-movies {
    width: 90%;
  }

  .header-navigation {
    font-size: 0.8em;
  }
  .vertical-nav nav {
    font-size: 1em;
  }

  .profile-picture-small {
    margin-bottom: -6px;
    width: 13%;
  }

  .hamburger-icon {
    font-size: 1.3em;
  }

  #hamburger-menu:checked ~ .vertical-nav {
    top: 252px;
    height: 240px;
    min-width: 140px;
  }

  .page-title {
    font-size: 2.5em;
  }

  .genre-title {
    font-size: 1.5em;
  }

  .cta_play-now,
  .movie-title,
  .about-content {
    font-size: 0.8em;
  }

  .cta_play-now {
    padding: 1px 7px;
  }
}
